{% extends "layout.html" %}
{% block content %}
    <h1>Monster Table</h1>
    <form method="post" action="{{ url_for('data') }}">
        <p><label>Name:
            <select name="name">
                {% for op in filter_options %}
                    {% if op == name %}
                        <option selected="selected">{{ op }}</option>
                    {% else %}
                        <option>{{ op }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label></p>
        <p><label>Rank:
            <select name="target">
                {% for op in target_options %}
                    {% if op == target %}
                        <option selected="selected">{{ op }}</option>
                    {% else %}
                        <option>{{ op }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label></p>
        <button type="submit" id="submit" name="submit">
            Generate Table
        </button>
        <br class="clear">
    </form>
    <h3>Total: {{ count }}</h3>
    {{ table | safe }}
{% endblock %}
